# Fichiers système Windows
$RECYCLE.BIN/
System Volume Information/
Thumbs.db
ehthumbs.db
Desktop.ini
DumpStack.log.tmp

# Logs Airflow
logs/
airflow.db
airflow.cfg
*.log
Procfile/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/

# Fichiers de configuration d'éditeur/code
.vscode/
.idea/
*.swp
*.swo
# Cache et build Python
*.egg-info/
dist/
build/

# MacOS
.DS_Store

# Autres fichiers temporaires
*.tmp
*.temp

# Ignore fichiers SQLite (si tu en as)
*.sqlite3
dataset_historique_consommation_francaise_MW.csv
dataset_historique_Production_Solaire_MW.csv
dataset_historique_consommation_francaise.csv
dataset_historique_meteoçfrancaise.csv
dataset_Production_PV_MW.csv

scripts/*
etl_production/
forecating_conso/
historique_conso/
historique_meteo/
historique_production/
historique_production/

PARAMETRAGE_SAUVEGARDE.md

